/*

  CSS SHEET EXCLUSIVELY FOR THE SIDE-BAR COMPONENT

*/

#side-bar {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  top: 50px;
}

#side-bar-tag-list {
  left: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#side-bar-tag-list li {
  list-style: none;
  display: inline-block;
  padding: 5px 5px;
}



#all-tags-label {
  margin: 0;

}

.side-bar-tag {
  margin: 0;
  padding: 5px 5px;
  background-color: #eee;

}
