// This is the top-level scss file. Import all other files in here.
@import './index_page/side_bar';
@import './index_page/main_container';
@import 'header';
@import '../node_modules/bulma/bulma';

h1 {
  color: blue;
}

/*************************
       CSS FOR FRAME
 *************************/

 #bottom-bar {
   background-color: rgba(0, 128, 0, 0.5);
   bottom: 0;
   line-height: 15px;
   position: fixed;
   text-align: center;
   width: 100%;
   z-index: 4;
 }
