
$FIXED_COMPONENT_Z_INDEX: 3;
$HEADER_COLOR: rgba(221, 97, 74, 1);
$HEADER_HEIGHT: 50px;

.top-bar {
   background-color: $HEADER_COLOR;
   display: flex;
   flex-direction: row;
   font-family: sans-serif;
   font-size: .8em;
   line-height: $HEADER_HEIGHT;
   padding-left: 20px;
   position: fixed;
   width: 100%;
   z-index: $FIXED_COMPONENT_Z_INDEX;
   h1 {
    color: white;
    font-weight: bold;
    font-size: 18px;
   }
 }