$header_height: 50px;
$side_bar_width: 300px;
$sidebar_color: rgba(0, 0, 128, 0.5);
$tag_hover_color: rgba(100, 199, 128, 0.5);
$fixed_componet_z_index: 3;
$main_container_width: 75%;
$default_content_padding: 10px;

$DARKEST: #43383D;
$DARK: #583F95;
$NEUTRAL: #7A70A2;
$LIGHT: #E7D1B2;
$LIGHTEST: #FFFBF7;
$BORDER_COLOR: lighten($DARKEST, 50%);
$BACKGROUND_COLOR: $LIGHTEST;

.side-bar {
  background-color: $BACKGROUND_COLOR;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: $default_content_padding;
  position: fixed;
  right: 0;
  top: $header_height;
  width: $side_bar_width;
  z-index: 2;
  border-left: 1px solid $BORDER_COLOR;
  h2 {
    color: $DARKEST;
    font-weight: 200;
    font-size: 14px;


  }

  .range-selector .range-slider {
      margin: 0 20px;
  }

  .side-bar-tag-list {
    overflow-y: auto;
    li {
      display: inline-block;
      padding: 5px;
      :hover {
        transform: scale(1.05);
      }
    }
  }

  .tags-list {
    min-height: 150px;
    max-height: 600px;
    overflow-y: auto;
    #search-bar {
      width: 100%;
    }
  }

  hr {
    margin: 10px 0;
  }

  button {
    margin-top: 20px;
    min-height: 30px;
    background-color: darken($LIGHTEST, 5%);
  }
  button:hover {
    background-color: darken($LIGHTEST, 10%);
  }

  .user-preferences-container {
    .select-to {
      line-height: 30px;
    }
  }

}


.tag {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
