$HEADER_COLOR: rgba(221, 97, 74, 1);
$header_height: 50px;
$WHITE: rgba(255, 255, 255, 1);
$NOT_BLACK: #6c6c6c;
$NOT_WHITE: #f5f5f5;
$GREEN_ISH: #00d1b2;

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0
}

body {
  background-color: $NOT_WHITE;
  padding-top: 90px;
  .header {
    box-shadow: 0 0 10px $NOT_BLACK;
    position: fixed;
    font-size: .8em;
    top: 0;
    left: 0;
    right: 0;
    line-height: $header_height;
    background-color: $HEADER_COLOR;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: #fff;
      transition: 0.1s

    }

    a:hover {
      color: $GREEN_ISH;
      transition: 0.1s;
    }
  }

  .form-wrap {
    background-color: $WHITE;
    box-shadow: 0 0 15px $NOT_BLACK;
    font-size: 0.9em;
    padding: 30px 40px;
    width: 340px;
    margin: auto;
    border-radius: 19px;
    border: 1px solid $NOT_BLACK;

    .input-field {
      padding-bottom: 10px;
      .label{
        display: block;
      }
      .input{
        font-size: 14px;
        line-height: 20px;
        width: 190px;
        display: block;
      }
    }

    .radio-input-field {
      margin: 5px 0 10px 0;


      .radio {
        margin-right: 8px;
        display: inline;
      }
    }
    button {
      margin: 20px auto 0 auto;
      display: block;
      color: $WHITE;
      font-size: 14px;
      line-height: 19px;
      border-radius: 5px;
      background-color: rgba(0, 0, 128, 0.5);
      width: 80px;
    }
  }
  .footer {
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px $NOT_BLACK;
    bottom: 0;
    left: 0;
    right: 0;
    height: 290px;
    background-color: $GREEN_ISH;
    margin-top: 60px;

    a {
      color: $WHITE;
      text-decoration: none;
      margin-bottom: 5px;
      transition: 0.1s
    }

    a:hover {
      color: $HEADER_COLOR;
      transition: 0.1s;
    }
  }
}
