$header_height: 50px;
$main_container_width: 75%;
$default_content_padding: 10px;

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: $header_height;
  max-width: $main_container_width;

  .card {
    display: inline-block;
    margin: $default_content_padding;
    max-width: 100%;
  }
}
