<!DOCTYPE html>
 <html>
   <head>
     <meta charset='utf-8'>
     <title>WASHFIRST</title>
     <link rel="stylesheet" href="main.css">
   </head>
   <body>
     <div id='top-bar'>
       <h1 id='logo'>Wash First</h1>
     </div>
 
     <div id='side-bar'>
       <h2 class='side-bar-title'>Your Filters</h2>
       <h2 class='side-bar-title'>Filters</h2>
       <input type="text" name="tag-filter" placeholder="tagname">
       <div id="side-bar-tags-container">
         <span class="tag">nike</span>
         <span class="tag">norm-core</span>
         <span class="tag">blue</span>
         <span class="tag">black</span>
         <span class="tag">solid</span>
         <span class="tag">argyle</span>
         <span class="tag">vintage</span>
         <span class="tag">goth</span>
         <span class="tag">t shirt</span>
         <span class="tag">long sleeves</span>
         <span class="tag">checkered</span>
         <span class="tag">gucci</span>
         <span class="tag">converse</span>
       </div>
     </div>

     <div id='main-container'>

       <article class="item-container">
         <img src="../public/images/shoes/0.jpeg" alt="A shoe.">
         <h5 class="item-username">Shelly Shellyson</h5>
         <p class="item-despription">These are off the chain.</p>
         <div class="item-tag-container">
           <span class="tag-in-item-container">nike</span>
           <span class="tag-in-item-container">black</span>
           <span class="tag-in-item-container">blue</span>
           <span class="tag-in-item-container">athletic</span>
           <span class="tag-in-item-container">workout</span>
           <span class="tag-in-item-container">freerun</span>
           <span class="tag-in-item-container">comfort</span>
         </div>
       </article>

       <article class="item-container">
         <img src="../public/images/shoes/0.jpeg" alt="A shoe.">
         <h5 class="item-username">Shelly Shellyson</h5>
         <p class="item-despription">These are off the chain.</p>
         <div class="item-tag-container">
           <span class="tag-in-item-container">nike</span>
           <span class="tag-in-item-container">black</span>
           <span class="tag-in-item-container">blue</span>
           <span class="tag-in-item-container">athletic</span>
           <span class="tag-in-item-container">workout</span>
           <span class="tag-in-item-container">freerun</span>
           <span class="tag-in-item-container">comfort</span>
         </div>
       </article>

       <article class="item-container">
         <img src="../public/images/shoes/0.jpeg" alt="A shoe.">
         <h5 class="item-username">Shelly Shellyson</h5>
         <p class="item-despription">These are off the chain.</p>
         <div class="item-tag-container">
           <span class="tag-in-item-container">nike</span>
           <span class="tag-in-item-container">black</span>
           <span class="tag-in-item-container">blue</span>
           <span class="tag-in-item-container">athletic</span>
           <span class="tag-in-item-container">workout</span>
           <span class="tag-in-item-container">freerun</span>
           <span class="tag-in-item-container">comfort</span>
         </div>
       </article>

       <article class="item-container">
         <img src="../public/images/shoes/0.jpeg" alt="A shoe.">
         <h5 class="item-username">Shelly Shellyson</h5>
         <p class="item-despription">These are off the chain.</p>
         <div class="item-tag-container">
           <span class="tag-in-item-container">nike</span>
           <span class="tag-in-item-container">black</span>
           <span class="tag-in-item-container">blue</span>
           <span class="tag-in-item-container">athletic</span>
           <span class="tag-in-item-container">workout</span>
           <span class="tag-in-item-container">freerun</span>
           <span class="tag-in-item-container">comfort</span>
         </div>
       </article>

     </div>

     <div id='bottom-bar'>
       <h6>&copy; Wash First | 2016</h6>
     </div>


   </body>
 </html>
