<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/login.css">
  </head>
  <body>
    <div class="header">
      <h1>Wash First</h1>
      <p>find new homes for old clothes</p>
    </div>


    <div class="login-form-wrap">
      <form class="login-form" action="/login" method="post">
        <%if(usernameError) {%>
          <span class="error">No account? <a class="link"href="/register">Sign up!</a></span>
        <%}%>
        <div class="input-field-wrap">
          <div class="input-field">
            <span class="login-label">username</span>
            <input type="text" class="login-input" name="username" value="">
          </div>

  

          <div class="input-field">
            <span class="login-label">password</span>
            <input type="password" class="login-input" name="password" value="">
          </div>
        </div>
        <button type="Submit" name="button">Log In</button>
      </form>
    </div>
  </body>
</html>
